node_modules/
__pycache__/
Authorization/
authorization.txt
authorization.json
db.sqlite3
.idea/
delete.py
*.xlsx
logs/
venv

# Editors/ IDEs Folders
.vscode

# Python cached modules/ data

*/__pycache__
*.pyc
# Virtual Environment Folders
venv/
# Redis Cached Data
dump.rdb
# Files inside media
media/*
!media